<section class="products" id="home">
    <h1>Hola, {{this.first_name}}. Bienvenido a la Pizzeria Coderhouse</h1>
    <div class="products__container">
        {{#each products}}
            <div class="product__card">
                <img src={{this.thumbnail}} alt={{this.title}}>
                <h1>{{this.title}}</h1>
                <div class="product__card__information">
                    <p>${{this.price}}</p>
                    <p>Stock:{{this.stock}}</p>
                </div>
                <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
            </div>
        {{/each}}
    </div>
</section>
<script src="/product.js"></script>